.angular/
.git/
.github/
.vscode/
coverage/
dist/
node_modules/
out-tsc/
tmp/

.env
.env.*
!.env.example

*.log
*.md
**/*.spec.ts

.dockerignore
Dockerfile*
compose*.yaml
compose*.yml
docker-compose*.yaml
docker-compose*.yml